{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Hello, World!</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>

<body>
    <h1>Hello!</h1>
    <div id="container"></div>
    <script type="text/babel">
        class App extends React.Component {
          constructor(props) {
            super(props);
            this.state = {
              data: [],
              loaded: false,
              placeholder: "Loading"
            };
          }

          componentDidMount() {
            fetch("http://localhost:8000/api/todos/")
              .then(response => {
                if (response.status > 400) {
                  return this.setState(() => {
                    return { placeholder: "Something went wrong!" };
                  });
                }
                return response.json();
              })
              .then(data => {
                this.setState(() => {
                  return {
                    data,
                    loaded: true
                  };
                });
              });
          }

          render() {
            return (
              <ul>
                {this.state.data.map(todo => {
                  return (
                    <li key={todo.id} className = {(todo.status=='C') ? 'complete' : 'active'}>
                       {todo.deadline}: <a href="#"> {todo.action} : {todo.status}</a>
                       {console.log(todo.status)}
                    </li>
                  );
                })}
              </ul>
            );
          }
        }
        
        ReactDOM.render(
          <App />,
          document.querySelector("#container")
        );
    </script>
</body>
</html>
